@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>'IOT and DATA HACKATHON'</h1>
    <h1>22nd July 2015, Reading</h1>
    <p class="lead">Follow #hackitmsft for the latest info</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Venue</h2>
        <p>
            Microsoft Campus, <br />Thames Valley Park, <br />Reading, <br />RG6 1WG<br />
            <a href="http://binged.it/1LDfQcp"> Directions </a>
        </p>

        <h2>Registration</h2>
        <p>
            <a href="http://t.co/21kGAi2yyC">Registration page</a>
        </p>

        <h2>Conference sessions</h2>
        <p>
        <ul>
            <li>Azure Architectural Overview for IoT</li>
            <li>Azure Machine Learning without a PhD</li>
            <li>Windows 10 + Universal Windows Apps on Raspberry Pi 2</li>
            <li>Apache Spark on Azure for IoT</li>
            <li>Power BI, the face of Cortana Analytics</li>
            <li>Pushing Microsoft Band data to Azure</li>
            <li>Monitoring thousands of VMs, learnings from a real-world example</li>
            <li>Data in the cloud - just because you can does mean you should</li>
        </ul>

        </p>

        <h2>MS Band Workshop</h2>
        <p>12:00 - 14:00</p>
        <h3>Requirements</h3>
        <p>
            <ul>
                <li>You will need a laptop set up for MS Band dev - See requirements for each platform here <a href="http://developer.microsoftband.com/bandSDK">Band SDK</a></li>
                <li>For most tasks some knowledge of the development platform and programming environment is required</li>
            </ul>
        </p>
        <h3>Tasks</h3>
        <p>Working from the Documentation and samples here <a href="http://aka.ms/msbandSDK">http://aka.ms/msbandSDK</a></p>
        <p>
            <ul>
                <li>Ex. 1 – Get Connected and hook up a sensor!</li>
                <li>Ex. 2 – Personalise meTile image and theme colours</li>
                <li>Ex. 3 – Create an app tile and send a notification to the band</li>
                <li>Ex. 4 – Create an app tile with a button and send an event to mobile device</li>
                <li>Ex. 5 – Create a Web Tile (see <a href="http://bit.ly/webtile">http://bit.ly/webtile</a>)</li>
            </ul>
        </p>

    </div>
</div>