@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>'IOT and DATA HACKATHON'</h1>
    <h1>22nd July 2015, Reading</h1>
    <p class="lead">Follow #hackitmsft for the latest info</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vanue</h2>
        <p>
            Microsoft campus, Thames Valley Park, Reading, RG6 1WG
            <a href="http://binged.it/1LDfQcp"> Directions </a>
        </p>
    </div>
</div>